.title{
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: large;
    text-transform: uppercase;
}

#body table tr, td{
    padding: 20px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;

}
.header-row{
    text-transform: uppercase;
    background-color: white;
}
.header-row th{
    color: darkred;
}
table {
    display: flex;
    justify-content: center;
}

td{
    font-size: small;
}

th{
    padding: 10px;
}

.searchBtns{
    display: flex;
    justify-content: center;
}

.searchBtns input{
    background-color: lightgray;
    padding: 10px;
    margin: 10px;
    text-transform: uppercase;
    font-size: medium;
    border-radius: 4px;
    color: white;
}