*{
    box-sizing: border-box;
    font-family: Menlo;
    margin: 0;
}

.header-ctnr{
    background-image:linear-gradient(to right,white, lightcoral,#dc3e49,lightcoral, white);
    display: flex;
    padding: 40px;
    justify-content: center;
    font-size: x-large;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border-bottom: 3px solid darkred;
}


body{
    background-color: antiquewhite ;
}

#body{
    display: flex;
    justify-content: center;
}

.box-container{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding: 15px;
    margin: 50px;

}

.inner-box{
    border: 1px solid black;

}

#body {
    padding: 10px;
}

#days{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 40px;

}
#days label{
    margin-right: 10px;
    margin-left: 10px;
}

.box-cntr{
    display: flex;
    margin: 20px;
    alignment: right;
}

h3{
    display: flex;
    justify-content: center;
    padding: 15px;
    text-decoration:underline ;
}
