*{
    box-sizing: border-box;
    font-family: Menlo;
}

.header-ctnr{
    background-image:linear-gradient(to right,white, lightcoral,#dc3e49,lightcoral, white);
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: x-large;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border-bottom: 3px solid darkred;
}

h2{
    display: flex;
    justify-content: center;
}

.main-form{
    display: flex;
    justify-content: center;
    padding: 100px;
    border:none;
    background-color: antiquewhite;
}

.container{
    border: 5px solid #dc3e49;
    border-radius: 5px;
    background-color: white;

}
.signUp-container{
    background-color: #dc3e49;
    padding: 4px;
    font-size: large;
    color: white;
}

.label{
    display:flex;
    justify-content: center ;
}

.input-field {
    margin-left: 120px;
    padding: 5px;
    border: none;
    border-bottom: 2px solid darkred;
    text-align: center;
}

.btns {
    display: flex;
    justify-content: center;
    padding: 10px 25px;
    background-color: #dc3e49;
}


.btns input{
    padding: 10px 15px;
    margin: 7px;
    border-radius: 3px;
    background-color: antiquewhite;
}

button{
    padding: 10px 15px;
    margin: 7px;
    border-radius: 3px;
    background-color: antiquewhite;
}
.submit-btn:hover{
    color: white;
    box-shadow: inset 400px 0 0 0 lightgreen;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
}

.cancel-btn:hover{
    color: white;
    box-shadow: inset 400px 0 0 0 lightsalmon;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
}
.rmb-me{
    display: flex;
    justify-content: center;
    font-size: x-small;
}

.stud-prof{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.stud-prof select{
    background: none;
    border: 2px solid lightcoral;
    border-radius: 0;
    padding: 5px;
}
